.repo__list {
  width: 400px;
  margin: 0 auto;
  list-style-type: none;
  background: lavender;
  padding: 10px; }
  .repo__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid lightyellow; }
    .repo__list li .repo__info {
      display: flex; }
      .repo__list li .repo__info .fork__info {
        margin-left: 10px;
        font-size: 10px; }

.title {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  background: lightslategray;
  color: white;
  font-size: 14px; }
